body{
    background-color: #F5F5F5;
    margin: 50px;
    margin: 25px 0 0 0;
}

#main{
    text-align: center;
    background-color: #82C1FF;
    width: 1000px;
    height: 370px;
    margin: 0 auto;
    border-radius: 25px;
}

h1{
    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #FFF;
    padding: 90px 0 25px 0;
    text-shadow: 2px 2px 2px #333;
}

// 

.animatedText{
    animation: fadeAndScale .3s ease-in;
}

@keyframes fadeAndScale {
    from{
        opacity: 0;
        transform: scale3d(.75, .75, 1);

    }
    to{
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

}


